# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hometask\REPA_mine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
